%span> Hello
,World
:css
  span{color:blue;}
= form_for @trial do |f|
  = f.file_field :image, class:"new-image"
  = f.hidden_field :image_cache, class:"image_cache"
  = f.submit "Send", class: "new__message__submit-btn"
.image_box_inner

:javascript
  //Display the image When a user select one
  $(function(){    
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          var html =`<img id="current_image_for_edit" src="${e.target.result}" hight="100px" width="100px" ></img>`;
          $(".image_box_inner").append(html);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $(".new-image").on("change",function(e){
      e.preventDefault();
      $('#current_image_for_edit').remove();
      $('.dummy_post_box').remove();
      readURL(this);
    });
  })
  $(window).on('load', function(e) {
    e.preventDefault();
    $('#current_image_for_edit').remove();
    $('.dummy_post_box').remove();
    var img_file = $(".image_cache").val();
    var html =`<img id="current_image_for_edit" src="/tmp/${img_file}" hight="100px" width="100px" ></img>`;
      
  });
