<span>Hello</span>,World
<style>span{color:blue;}</style>

<%= @trials.each do |trial|%>
  <% if trial.image.present?%>
    <%= image_tag trial.image.url %>
  <%end%>
<%end%>
<%= link_to "new", new_trial_path%>%



