// サインアップのヘッダー
.sing__header {
  height: 128px;
  text-align: center;
  border: 0;
  position: relative;
  &__log {
    margin-top: 40px;
    display: inline-block;
    height: 50px;
    position: absolute;
    top: 0%;
    left: 26%;
  }
  &__nav {
    display: inline-block;
    padding: 0 0 0 44px;
    position: absolute;
    top: 31%;
    left: 38%;
    &__menu {
      display: flex;
      &__list.active {
        color: red;
        .point.active {
        background: red;
        }
      }
      &__list {
        position: relative;
        z-index: 1;
        display: inline-block;
        font-size: 12px;
        margin-right: 40px;
        .boder {
          height: 1px;
          border: none;
          border-top: 1px #000000 solid;
        }
  // サインアップページの道しるべに色をつける  
        .point {
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          background: #ccc;
          border-radius: 50%;
        }
        .point_first.active {
          background-color: red;
        }
        .point_first.active2 {
          background-color: red;
        }
        .point_first {
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          background: #ccc;
          border-radius: 50%;
        }
        .point_last.active {
          background-color: red;
        }
        .point_last {
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          background: #ccc;
          border-radius: 50%;
        }
        .point::after {
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
          left: 50%;
        }
        .point.active {
          background: red;
        }
        .point.active2 {
          background: red;
        }
        .point.active2::after {
          background: red;
        }
        .point.active2::before {
          background: red;
        }
        .point.active::before {
          background: red;
        }
        .point_first::after {
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
          left: 50%;
        }
        .point_first.active2::after {
          background: red;
        }
        .point::before {
          right: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
        }
        .point_last::before {
          right: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
        }
      }
    }
  }
}
// サインアップのメイン
.sing__main {
  width: 700px;
  background-color: white;
  padding: 0;
  margin: 0 auto;
  &__title {
    font-size: 22px;
    padding: 32px;
    text-align: center;
  }
  &__wrapper {
    padding: 40px 40px 64px;
    border-top: 1px solid #f5f5f5;
    &__content {
      max-width: 343px;
      margin: 0 auto;
      &_m {
        margin-top: 30px;
        &_text {
          display: inline-block;
          margin-top: 8px;
          color: #888;
          font-size: 14px;
        }
        &_s {
        }
        .form-require {
          background: #ea352d;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }
        .form-require.any {
          background-color: #888;
        }
        .input-default {
          width: 90%;
          margin: 8px 0 0;
          padding: 10px 16px 8px;
          height: 28px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
         
        }
        .half {
          width: 38%;
          margin: 8px 0 0;
          padding: 10px 16px 8px;
          height: 28px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
        .birthday-select-wrap {
          width: 400px;
          height: 55px;
          display: flex;
          margin-top: 5px;
          .select-wrap_t {
            width: 100px;
          }
          .s_text {
            margin-top: 20px;
            margin: 17px 10px 0 10px;
          }
          .birthday {
            width: 55%;
            height: 48px;
            padding: 0 10px;
            border-radius: 4px;
            margin: 0 auto;
          }
          .birthday_sing1 {
            width: 35px;
            height: 40px;
            padding: 0 10px;
            border-radius: 4px;
            
          }
        }
        .l-single-text {
          display: inline-block;
          margin-top: 8px;
          color: #888;
          font-size: 14px;
        }
        .btn-red {
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          margin-top: 32px;
          cursor: pointer;
        }
        .m_text {
          color: #0099E8;
          font-size: 14px;
          margin-top: 3px;
          display: inline-block;
        }
      }
      &_m.sing_pay {
        text-align: center;
      }
    }
  }
}

.error {
  color: red;
}