-# サインアップ3/6 携帯番号認証
%header.sing__header
  %h1.sing__header__log
    = link_to do
      = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",size: "185x49"
  %nav.sing__header__nav
    %ol.sing__header__nav__menu
      %li.sing__header__nav__menu__list
        会員情報
        .point
      %li.sing__header__nav__menu__list.active
        電話番号認証
        .point.active
      %li.sing__header__nav__menu__list
        お届け先住所入力
        .point
      %li.sing__header__nav__menu__list
        支払い方法
        .point
      %li.sing__header__nav__menu__list
        完了
        .point  
%main.sing__main
  %h2.sing__main__title
    電話番号の確認
  =form_for @user, method: :get, url: singup3_regulation_index_path, class: "sing__main__wrapper" do|f|
    .sing__main__wrapper__content
      .sing__main__wrapper__content_m
        %label{for:"phone_number"} 携帯電話の番号
        %input.input-default{name: "phone_number", placeholder: "携帯電話の番号を入力", type: "text", value: ""}/
        %p.l-single-text
          本人確認のため、携帯電話のSNS(ショートメッセージサービスを利用して認証を行います。)
      .sing__main__wrapper__content_m
        =link_to singup3_regulation_index_path , class:"div"  do
          =f.submit "SNS認証を送信する" ,class: "btn-red" 
        %p.l-single-text
          ※電話番号は本人確認や不正利用防止のため利用します。他のユーザーに公開されることはありません。
      .sing__main__wrapper__content_m
        =link_to root_path ,class:"m_text" do
          電話番号の確認が必要な理由>    
=render "footer"