-# サインアップ6/6 完了ページ
= render "header"
%main.sing__main
  %h2.sing__main__title
    支払い方法
  %form{method: "post", class: "sing__main__wrapper"}
    .sing__main__wrapper__content
      .sing__main__wrapper__content_m.sing_pay
        %p ありがとうございます
        %p 会員登録が完了しました。
      .sing__main__wrapper__content_m
        %button.btn-default.btn-red{type: "submit"} メルカリをはじめる                
= render "footer"