-# サインアップ5/5完了ページ
%header.sing__header
  %h1.sing__header__log
    = link_to do
      = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",size: "185x49"
  %nav.sing__header__nav
    %ol.sing__header__nav__menu
      %li.sing__header__nav__menu__list
        会員情報
        .point
      %li.sing__header__nav__menu__list
        電話番号認証
        .point
      %li.sing__header__nav__menu__list
        お届け先住所入力
        .point
      %li.sing__header__nav__menu__list
        支払い方法
        .point
      %li.sing__header__nav__menu__list.active
        完了
        .point.active
%main.sing__main
  %h2.sing__main__title
    会員登録完了
  .sing__main__wrapper
    .sing__main__wrapper__content
      .sing__main__wrapper__content_m.sing_pay
        %p ありがとうございます
        %p 会員登録が完了しました。
      .sing__main__wrapper__content_m
        = link_to root_path, class: "t_div" do 
          %button.btn-default.btn-red{type: "submit"} メルカリをはじめる                
= render "footer"