-# ログイン画面のheaderです
%header.login__header
  %h1.login__header__log
    = link_to root_path do
      %img{width: "185", src: "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}    