.app-banner{
  background: url(http://webcreatorbox.com/sample/images/check.png) ; 
  background-position: center;
  background-size: cover; 
  height: 260px;
  &__pc{
    overflow: hidden;
    height: 260px;
    display: flex;
    width: 800px ;  
    margin: 0px auto ; 
    color: #fff;
    &__inner{
      &__clearfix {
        img{
          float: left; 
        }
      } 
      h2 {
        font-size: 24px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        color:white;
        margin: 30px  0;
      }
      p {
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        color:white;
        margin: 30px  0;
      }
    } 
    
  }
}  

.footer {
  font-family: Arial,游ゴシック体,sans-serif;
  font-weight: 500;
  padding: 0 20px 10px 20px;
  background: black;
  color: #fff;
  cursor: pointer;
  margin: 0 auto ;
  // width: 100% ;  
  &__top { 
    display:flex;
    margin: auto;
    width: 1020px ;  
  }
    &__list{ 
      a{
        color: rgb(206, 199, 199);
      } 
      font-size: 16px;
      font-weight: 700;
      margin: 10, 30;
      padding: 0 20px 0 0;
      &__title { 
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        margin: 10px  0;
      } 
    }
}

.footer__link  {
  color: #fff;
  float: left; 
  font-size: 48px;
  line-height: 1.5em;
  margin: 0 50px 0 0 ;
}

.footer-bottom {
  width: 1020px;
  margin: 30px auto 20px;
  &__copyright{
    color: white;
    margin-left: 300px;
  }
}

