
.btn-default.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .1s;
  transition: all ease-out .1s;
  cursor: pointer;
  text-align: center;
}
.text-center{
  text-align: center;
  font-size: 16px;
  margin:10px 0 0 0 ;
}
.btn-default.btn-gray {
  background: #aaa;
  border: 1px solid #aaa;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .1s;
  transition: all ease-out .1s;
  cursor: pointer;
  text-align: center;
  margin: 16px 0 16px 0;
}
