.l-content {
    float: right;
    width: 700px;
    background: #fff;
}
.mypage-tab-head {
    padding: 0 4%;
    background: #fafafa;
    font-size: 16px;
    font-weight:bold;
    line-height: 72px;
    padding: 0 16px;
}
.listing-tabs {
  border: 0;
  background: #eee;
  font-size: 0; 
}
.listing-tabs li {
  width: 33.3%;
}
.listing-tabs .purchaselist {
  width: 50%;
}
.listing-tabs li.active, .review-history-tabs li.active {
  background: #fff;
}
.mypage-tabs li, .listing-tabs li, .review-history-tabs li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.listing-tabs li.active a{
  border-top: 2px solid #ea352d;
}
.mypage-tabs a, .listing-tabs a, .review-history-tabs a {
  position: relative;
  display: block;
  color: #333;
  font-size: 16px;
  line-height: 72px;
  font-weight: bold;
}

.mypage-item__link {
  min-height: 80px;

  .mypage-item__link__link{
    display: block;
    padding: 16px;
    color: gray;
    border-bottom:1px solid #eee;

    &__wrapper{
      display:flex;
      justify-content: space-between;

      &__main{
        display:flex;

        &__figure {
          position: relative;
          overflow: hidden;
          width: 48px;
          height: 48px;
        }
      }
      &__icon{
        display:block;
        margin:auto 0;
      }
    }
  }
}
.mypage-item__link:hover{
  background:#fafafa;
}

.mypage-item-list img.is-higher-width {
  width: auto;
  left: 50%;
  right: auto;
  height: 100%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.mypage-item-text{
  margin: 0 5px 4px 10px;
  color:#333;
}

.is-higher-width {
  position: absolute;
  width: auto;
  left: 50%;
  right: auto;
  height: 100%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 100%;
}

.listing-item-count {
  vertical-align: 2px;
  margin: 0 5px 0 10px;
}
.mypage-item-status{
  display: inline-block;
  margin: 8px 0 0 0;
  padding: 5px 6px;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
}

.awaiting {
  background: #0099e8;
}
.blueblock {
  background: #0099e8;
}

.pending {
  background:red;
}
.redblock {
  background:red;
}

.notpresent{
  background:#fff;
  .gazou{
    padding: 160px 0 60px;
    background: url(https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?39597161);
    background-repeat: no-repeat;
    background-position: center 40px;
    background-size: 100px 100px;
    text-align: center;
    font-size: 16px;
    color: #ccc;
  }
}