
    .mypage-user__box__i{
      height: 200px;
      position: relative;
      height: 155px;
      padding: 20px;
      background: url(http://webcreatorbox.com/sample/images/check.png);
      background-size: cover;  
      text-align: center;
      img{
        border-radius: 30px;
      }
      &__number  {
        font-size: 10;
        display: flex; 
        justify-content: center;
        div{
          margin: 0 30px 0 30px ;
        }
      }
    }

  .mypage-tabs{
    width: 100%;
    &__do{
      display: flex;
      width:100%;
      li{
        width:50%;
      }
    }
    

    li.active a {
      border-top: 2px solid #ea352d;
      background: #ffffff;
      
    }
    li a:hover {
      color:grey;
      
    }

    &__do a {
      position: relative;
      display: block;
      color: #333;
      font-size: 16px;
      line-height: 72px;
      background:#ddd;
      text-align: center;
    }
  }
  
  .mypage-item {
    background: white;
    margin-bottom:50px;
    &__list-info{
      &__link{
        display: block;
        min-height: 80px;
        padding: 16px;
        color: #333;
        font-size:14px;
        box-sizing: border-box;
        border-bottom: 1px solid #eee;

        &__mark{
          position: relative;
          overflow: hidden;
          float: left;
          width: 48px;
          height: 48px;
      

          .mark_m{
            
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            
          }
        }
        &__item-body{
          margin: 0 20px 0 60px;
          
          &__text{
            overflow: hidden;
            display: -webkit-box;
            max-height: 4.4em;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            line-height: 1.5;
          }
          &__time{
            display: inline-block;
            color: #888;

            .icon-time{
              display: inline-block;
              font-family: 'icon-font';
              speak: none;
              font-style: normal;
              font-weight: 400;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
            }
            span{

            }
            .side-box__mypage-nav__list__inner__item__icon{
              display: inline-block;
              font-family: 'icon-font';
              speak: none;
              font-style: normal;
              font-weight: 400;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
            }
          }

        }
      }
      &__not{
        padding: 160px 0 60px;
        background: url(img1.png);
        background-repeat: no-repeat;
        background-position: center 40px;
        background-size: 100px 100px;
        text-align: center;
        font-size: 16px;
        color: #ccc;
      }
    }
    &__list-info:hover{
      background: #f5f5f5;
    }
    // active動作をするときの処理として保留
    .active{

    }

    &__list-todo{
      &__not{

        padding: 160px 0 60px;
        background: url(img1.png);
        background-repeat: no-repeat;
        background-position: center 40px;
        background-size: 100px 100px;
        text-align: center;
        font-size: 16px;
        color: #ccc;
      }
    }
    // active動作をするときの処理として保留
    .active{

    }

  } 

  .mypage-tabs-2{
    &__head{
      background: #fafafa;
      font-size: 16px;
      line-height: 72px;
      padding: 0 16px;
      margin-top:50px;
    }

    &__do{
      display: flex;
      width:100%;
      li{
        width:50%;
      }
    }

     li.active a {
      border-top: 2px solid #ea352d;
      background: white;
    }
    
    &__do a {
      position: relative;
      display: block;
      color: #333;
      font-size: 16px;
      line-height: 72px;
      background:#ddd;
      text-align: center;
    }
  }  

  .mypage-item {
    background: white;
    &__list-now{
      &__not{
  
        padding: 160px 0 60px;
        background: url(img1.png);
        background-repeat: no-repeat;
        background-position: center 40px;
        background-size: 100px 100px;
        text-align: center;
        font-size: 16px;
        color: #ccc;
      }
    }
    // active動作をするときの処理として保留
    .active{
  
    }
  
    &__list-old{
      &__not{
       
        padding: 160px 0 60px;
        background: url(img1.png);
        background-repeat: no-repeat;
        background-position: center 40px;
        background-size: 100px 100px;
        text-align: center;
        font-size: 16px;
        color: #ccc;
      }
    }
    // active動作をするときの処理として保留
    .active{
  
    }
  }
