
-# %body
-#   .default-container
-#     %header.sp-header.visible-sp
-#       .sp-header-inner
-#         %h1.logo
-#           %a{:href => "https://www.mercari.com/jp/"}
-#             %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2296184308"}/
-#         .sp-header-user-nav.clearfix
-#           %a.sp-header-user-icon{:href => "https://www.mercari.com/jp/mypage/notification/"}
-#             %figure
-#               %i.icon-bell
-#           %a.sp-header-user-icon{:href => "https://www.mercari.com/jp/mypage/todo/"}
-#             %figure
-#               %i.icon-check
-#           %a.sp-header-user-icon.sp-header-user-profile{:href => "https://www.mercari.com/jp/mypage/"}
-#             %figure
-#               %div
-#                 %img{:alt => "", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "32"}/
-#       .search-bar
-#         %form.sp-header-form{:action => "https://www.mercari.com/jp/search/"}
-#           %input.sp-header-search.input-default{:name => "keyword", :placeholder => "何をお探しですか？", :type => "search", :value => ""}/
-#           %i.icon-search
-#     %header.pc-header.visible-pc
-#       .pc-header-inner
-#         .pc-header-top
-#           %h1
-#             %a{:href => "https://www.mercari.com/jp/"}
-#               %img{:alt => "mercari", :height => "36", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2296184308", :width => "134"}/
-#           %form.pc-header-form{:action => "https://www.mercari.com/jp/search/"}
-#             %input.input-default{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
-#             %i.icon-search
-#         .pc-header-nav-box.clearfix
-#           %nav.l-left
-#             %ul.pc-header-nav
-#               %li
-#                 %h2
-#                   %a.pc-header-nav-root.list-parent{:href => "https://www.mercari.com/jp/category/"}
-#                     %i.icon-list.pc-header-cat-brand-icon
-#                     %span カテゴリーから探す
-#                 %ul.pc-header-nav-parent-wrap{"data-mega" => "1"}
-#                   %li.pc-header-nav-parent
-#                     %h3
-#           .l-right
-#             %ul.pc-header-user-nav
-#               %li.liked-items-link
-#                 %a.pc-header-menu-link{:href => "https://www.mercari.com/jp/mypage/like/history/"}
-#                   %i.icon-like-border
-#                   %span いいね！一覧
-#               %li{"data-id" => "pc-header-user-nav", "data-key" => "notification_list", "data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}
-#                 %a.pc-header-menu-link{"data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/", :href => "https://www.mercari.com/jp/mypage/notification/"}
-#                   %i.icon-bell
-#                   %span お知らせ
-#                 %ul.pc-header-user-box.pc-header-notification-box.mypage-item-list{"data-id" => "pc-header-user-items"}
-#               %li{"data-id" => "pc-header-user-nav", "data-key" => "todo_list", "data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}
-#                 %a.pc-header-menu-link{"data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/", :href => "https://www.mercari.com/jp/mypage/todo/"}
-#                   %i.icon-check
-#                   %span やることリスト
-#                 %ul.pc-header-user-box.pc-header-todo-box.mypage-item-list{"data-id" => "pc-header-user-items"}
-#               %li
-#                 %a.pc-header-user-icon.pc-header-menu-link{:href => "https://www.mercari.com/jp/mypage/"}
-#                   %figure
-#                     %div
-#                       %img{:alt => "", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "32"}/
-#                   %span マイページ
-#                 .pc-header-user-box.pc-header-mypage-box
-#                   .pc-header-mypage-state.text-center
-#                     %figure
-#                       %div
-#                         %img{:alt => "", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "60"}/
-#                       %figcaption ゆり
-#                     %ul.pc-header-mypage-review-listing
-#                       %li
-#                         %a.pc-header-link評価: 0
-#                       %li
-#                         %a.pc-header-link出品数: 0
-#                     %ul.pc-header-mypage-sales-point
-#                       %li
-#                         %a.pc-header-link.clearfix
-#                           .l-left
-#                             売上金
-#                           .l-right
-#                             ¥0
-#                             %i.icon-arrow-right
-#                       %li
-#                         %a.pc-header-link.clearfix
-#                           .l-left ポイント
-#                           .l-right
-#                             P0
-#                             %i.icon-arrow-right
-#                   %ul.mypage-nav-list
-#                     %li
-#                       %a.mypage-nav-list-item
-#                         いいね！一覧
-#                         %i.icon-arrow-right
-#                     %li
-#                       %a.mypage-nav-list-item
-#                         出品した商品 - 出品中
-#                         %i.icon-arrow-right
-#                     %li
-#                       %a.mypage-nav-list-item
-#                         出品した商品 - 取引中
-#                         %i.icon-arrow-right
-#                     %li
-#                       %a.mypage-nav-list-item
-#                         出品した商品 - 売却済み
-#                         %i.icon-arrow-right
-#                     %li
-#                       %a.mypage-nav-list-item
-#                         購入した商品 - 取引中
-#                         %i.icon-arrow-right
-#                     %li
-#                       %a.mypage-nav-list-item
-#                         購入した商品 - 過去の取引
-#                         %i.icon-arrow-right
-#     %nav.bread-crumbs
-#       %ul
-#         %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
-#           %a{:href => "https://www.mercari.com/jp/", :itemprop => "url"}
-#             %span{:itemprop => "title"} メルカリ
-#           %i.icon-arrow-right
-#         %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
-#           %span{:itemprop => "title"} マイページ
-#     %main.l-container.clearfix
-#       .l-content
-#         %section.mypage-user-icon
-#           %a{:href => "https://www.mercari.com/jp/u/290156031/"}
-#             %figure
-#               %img{:alt => "", :height => "60", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "60"}/
-#             %h2.bold ゆり
-#             .mypage-number
-#               %div
-#                 評価
-#                 %span.bold 0
-#               %div
-#                 出品数
-#                 %span.bold 0
-#         %section.mypage-tab-container-notification-todo
-#           %ul.mypage-tabs
-#             %li.active
-#               %h3
-#                 %a{"data-toggle" => "tab", :href => "#mypage-tab-notification"}
-#                   お知らせ
-#             %li
-#               %h3
-#                 %a{"data-toggle" => "tab", :href => "#mypage-tab-todo"}
-#                   やることリスト
-#           .tab-content
-#             %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
-#               %li.mypage-item-not-found.bold お知らせの商品がありません
-#             %ul#mypage-tab-todo.mypage-item-list.tab-pane
-#               %li.mypage-item-not-found.bold 現在、やることリストはありません
-#         %aside.modal{"data-close" => "modal", "data-modal" => "banner"}
-#           .modal-inner.modal-banner
-#             .modal-banner-eye-catch
-#               %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?2296184308"}/
-#               %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2296184308"}/
-#             .modal-banner-body
-#               %h2 今すぐ無料ダウンロード！
-#               %p.bold 全ての機能を使えるスマホアプリはこちら！
-#               .modal-banner-app.clearfix
-#                 %a.pull-left{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
-#                   %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2296184308"}/
-#                 %a.pull-left{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
-#                   %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2296184308"}/
-#               %a.modal-banner-app-open{"data-action" => "app/launch", "data-play-id" => "com.kouzoh.mercari", "data-toggle" => "open-app", "data-url-scheme" => "mercari://", :href => ""}
-#                 アプリで開く
-#             %i.icon-close{"data-close" => "modal"}
-#         %section.mypage-tab-container
-#           %h2.mypage-tab-head 購入した商品
-#           %ul.mypage-tabs
-#             %li.active
-#               %h3
-#                 %a{"data-toggle" => "tab", :href => "#mypage-tab-transaction-now"}
-#                   取引中
-#             %li
-#               %h3
-#                 %a{"data-toggle" => "tab", :href => "#mypage-tab-transaction-old"}
-#                   過去の取引
-#           .tab-content
-#             %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
-#               %li.mypage-item-not-found.bold 取引中の商品がありません
-#             %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane
-#               %li.mypage-item-not-found.bold 過去に取引した商品がありません
-#       .l-side
-#         %nav.mypage-nav
-#           %ul.mypage-nav-list
-#             %li
-#               %a.mypage-nav-list-item.active
-#                 = link_to"",class: "footer-link" 
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"お知らせ",class: "footer-link" 
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"やることリスト",class: "footer-link" 
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"いいね！一覧",class: "footer-link" 
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"出品する",class: "footer-link" 
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"出品した商品 - 出品中",class: "footer-link" 
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"出品した商品 - 取引中",class: "footer-link"
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"出品した商品 - 売却済み",class: "footer-link"
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"購入した商品 - 取引中",class: "footer-link" 
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"購入した商品 - 過去の取引",class: "footer-link" 
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"ニュース一覧",class: "footer-link"
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"評価一覧",class: "footer-link" 
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"ガイド",class: "footer-link" 
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"お問い合わせ",class: "footer-link" 
-#                 %i.icon-arrow-right
-#           %h3.mypage-nav-head メルペイ
-#           %ul.mypage-nav-list
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"売上・振込申請",class: "footer-link" 
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"ポイント",class: "footer-link" 
-#                 %i.icon-arrow-right
-#           %h3.mypage-nav-head 設定
-#           %ul.mypage-nav-list
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"プロフィール",class: "footer-link" 
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"発送元・お届け先住所変更",class: "footer-link"
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"支払い方法",class: "footer-link" 
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"メール/パスワード",class: "footer-link"
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"本人情報",class: "footer-link" 
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"電話番号の確認",class: "footer-link" 
-#                 %i.icon-arrow-right
-#             %li
-#               %a.mypage-nav-list-item
-#                 = link_to"ログアウト",class: "footer-link"
-#                 %i.icon-arrow-right