= render "layouts/header"
.top-main
  .top-main__contens
    .top-main__contens__image
      =image_tag("toppageslid", class: "image2")
    = render "products_category"             
    = render "products_bland"
= render "layouts/footer"