= render "layouts/header"
%section.item-box-container
  - if @product.state == "completed"
    .message-box_after-pay
      .message-box_after-pay__inner
        .message-box_after-pay__inner__head
          = icon("fas", "fa-check icon-time fa-lg")
          %span.message-text
            取引完了
        .message-box_after-pay__inner__description
          %p.p1 この商品の取引はクローズしました。
    = link_to purchased_user_path(current_user), class:"to_complete_list" do
      購入した商品 - 過去の取引へ
= render "layouts/footer"