-# 出品ボタンーーーーーーーーーーー
.exhibit__btn
  =link_to sell_products_path do
    .exhibit__btn__content
      .exhibit__btn__content_text
        出品
      .exhibit__btn__content_image
        = icon("fas", "camera")